html {
    background-image: url(./assets/cloud.img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.list1 {
    margin: 1%;
    padding-left: 10%;
    
}
.list1 a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    
    
}
.list1 a:hover {
    text-decoration: underline;
}

.list1 li {
    margin-bottom: 5%;
    font-size: 2rem;
}
h2 {
    margin-bottom: 5%;
    font-size: 2rem;
    
    
}
h1 {
    color: white;
    margin-left: 20%;
}
.header {
    padding: 5px;
    background-image: url(./assets/cloud.img);
    display: inline-block;
}
